::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1B1B1B; 
}

::-webkit-scrollbar-thumb {
  background: #252525; 
  
}

::-webkit-scrollbar-thumb:hover {
  background: #292929; 
  
}